<!-- <h3>Landing</h3> -->
<div ng-controller="usersController">
  <div id="page-top" class="index">
<!-- NAVIGATION -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container">
  <!-- NAV - BAR -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top">spontanimation</a>
        </div>
  <!-- NAV - LINKS -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li>
              <a class="page-scroll" href="#services">Services</a>
            </li>
            <li>
              <a class="page-scroll" href="#about">About</a>
            </li>
            <li>
              <a class="page-scroll" href="#team">Team</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<!-- HEADER -->
    <header>
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">
          <h1>spontanimation</h1>
          </div>
          <div class="intro-heading">
            <h3>Custom interactive characters your audience will love.</h3>
          </div>
          <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
      </div>
    </header>
<!-- SECTION - SERVICE -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Services</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-coffee fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Instant Personality</h4>
            <p class="text-muted">Whether you're making conversational personas for entertainment, education, healthcare, training, or just for fun, adding autonomous emotions and personality will make your characters more engaging and effective.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-user fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Stylized or Photorealistic Characters</h4>
            <p class="text-muted">We specialize in the physics of emotion; the way that characters move and express themselves. Research has shown that photorealistic virtual humans can lead to positive outcomes in healthcare, education, and training. Our technology adapts to make sure your character's identity comes through.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Personal Eye Contact</h4>
            <p class="text-muted">Eye contact increases attention and makes people feel more connected to your characters. They will blink normally, occasionally avert their gaze, and move in ways that feel natural. In VR, this has an especially powerful impact.</p>
          </div>
        </div>
      </div>
    </section>
<!-- SECTION - ABOUT -->
    <section id="about" class="bg-light-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">About</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          </div>
        </div>
        <div class="row">
  <!-- ADD IMAGE HERE -->
          <div class="col-lg-12">
            <p>The medium of interactive entertainment has barely begun to take shape. Game developers have made beautiful experiences but game engines are heavily skewed toward creating navigation-based games. We believe that communicative and social applications will drive widespread adoption of VR &#38; AR even more than games. Truly compelling virtual characters in this new medium will require a new kind of interactivity engine that prioritizes communication and emotional expression.
              <br>
              <br>
              Right now there's a well documented content vacuum in VR that is similar to the vacuum that slowed public acceptance in the early days of television. We enable artists, researchers, business developers and others to rapidly create characters and experiences for this new medium.
              <br>
              <br>
              Our team members have led companies which licensed prior animation software to NASA, MIT, Sony Pictures, Intel, Microsoft, Boston Dynamics, and several universities. That software has been used in hundreds of scientific studies that investigate human responses to virtual humans.
              <br>
              <br>
              Now we're solving a missing link in VR, AR, and mixed reality.</p>
          </div>
        </div>
      </div>
    </section>
<!-- SECTION - TEAM -->
    <section id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="team-member">
  <!-- ADD IMAGE HERE -->
              <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
              <h4>Jared Peters</h4>
              <p class="text-muted">Founder &#38; CEO</p>
                <ul class="list-inline social-buttons">
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
  <!-- ADD IMAGE HERE -->
              <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
              <h4>John Doe</h4>
              <p class="text-muted">Co-Founder</p>
              <ul class="list-inline social-buttons">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
  <!-- ADD IMAGE HERE -->
              <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
              <h4>Jane Doe</h4>
              <p class="text-muted">CTO</p>
              <ul class="list-inline social-buttons">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <p class="large text-muted">We're based in Oakland, California.</p>
          </div>
        </div>
      </div>
    </section>
<!-- SECTION - CONTACT -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Contact Us</h2>
            <h3 class="section-subheading text-muted">Spontanimation offers interactive characters and consultancy for VR, mobile apps, websites, and site-specific applications.
              <br>
              <br>
              We would be happy to speak with you.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form name="sentMessage" id="contactForm" novalidate>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button type="submit" class="btn btn-xl">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
<!-- SECTION -FOOTER -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Spontanimation 2017</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- <a href="#!/new">New Friend</a> -->
</div>
